*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 260px;
}

.navigation {
    flex: 1;
    text-align: right;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.navigation ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 19px;
}

.navigation ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: royalblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navigation ul li:hover::after {
    width: 100%;
}

.textBox {
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {
    font-size: 62px;
}

.textBox p{
    margin: 10px 0 40px;
    font-size: 22px;
    color: whitesmoke;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover {
    border: 1px solid royalblue;
    background: royalblue;
    transition: 1s;
}

.ponuda {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.ponuda p {
    color: rgb(28, 69, 192);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 30px;
}

.red{
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
}

.stupac {
    flex-basis: 31%;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 5px;
    box-sizing: border-box;
}

h3 {
    color: royalblue;
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    font-size: 20px;
}

.stupac:hover{
    box-shadow: 0 0 20px 0px rgb(62, 85, 215);
}

.osnovno {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.stupac {
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: visible;
}

.stupac img {
    width: 100%;
    display: block;
}

.iskustva {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.iskustva stupac {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: cornflowerblue;
    padding: 25px;
    display: flex;
}

.iskustva stupac p {
    padding: 0;
}

.iskustva stupac h3{
    margin-top: 15px;
    text-align: end;
}


.sub-header1 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/images/dva.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}

.sub-header1 h1 {
    margin-top: 100px;
    font-size: 30px;
}



.sub-header2 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/images/dva.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}

.sub-header2 h1 {
    margin-top: 100px;
    font-size: 30;
}

.komentar {
    border: 1px solid cornflowerblue;
    margin: 50px 50PX;
    padding: 10px 20px;
}

.komentar h3 {
    text-align: left;
}

.komentar-form input, .komentar-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #dee0f8;
}

.komentar-form button {
    margin: 10px 0;
}

.btn-color {
    border: 1px solid royalblue;
    background: transparent;
    color: royalblue;
}

.btn-color:hover {
    color: #f0f0f0;
}

.sub-header0 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/images/prom.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}

.sub-header0 h1 {
    margin-top: 100px;
    font-size: 30px;
}

.lokacija {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.lokacija iframe {
    width: 100%;
}


.entrance{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.entrance h5{
    font-size: 19px;
    color: royalblue;
    font-weight: 500;
    margin: auto;
}

.entrance img{
    width: 390px;
    height: 500px;
    padding: 10px;
    border-radius: 3%;
}

.footer {
    margin: auto;
    text-align: center;
}

.footer p{
    font-size: 19px;
    white-space: nowrap;
}

.opis {
    margin-top: 68px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px 40px;
    background-color: lightblue;
}

.opis h3 {
    text-align:inherit;
    color: royalblue;
}


.povratakGore {
    position: fixed;
    width: 50px;
    height: 50px;
    background: cornflowerblue;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: whitesmoke;
    font-size: 22px;
}


address {
    font-weight: 900;
    font-size: 18px;
}


.lokacija h5 {
  font-size: 19px;
  color: royalblue;
  font-weight: 500;
}


table, tr, td {
    border: 2px solid royalblue;
    font-size: 19px;
    border-collapse: collapse;
    padding: 0.5rem;
    margin: auto;
}

.kontakt{
   width: 100%;
   margin: auto;text-align: center;
   padding: 30px 0;
}


.kontakt h5 {
    font-size: 20px;
    margin-bottom: 9pxpx;
    margin-top: 30px;
    color: royalblue;
    font-weight: 500;
}

.kontakt p{
    font-size: 18px;
}

.wrapper {
    background: #f0f0f0;
    margin-left: 50px;
    padding: 20px;
}

.wrapper h2 {
    text-align: center;
    padding: 20px;
    color: royalblue;
}

.wrapper p {
    font-size: 14px;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.team-memb {
    margin: 8px;
    text-align: center;
}

.team-memb img {
    width: 310px;
    height: 280px;
    border-radius: 8%;
    margin: 21px;
}

.team-memb h4 {
    font-size: 16px;
    margin: 7px;
    color: royalblue;
}

p {
    font-size: 19px;
}